extends ../common/layout.pug

block title
  title Add Banner Image Admin - Trans Lifeline

block styles
  link(href='/styles/admin.css', rel='stylesheet')

block content
  section#add-banner-image
    h1='Add Banner Image'
    form#add-image
      label Image (Recommended size: 1125x300)
      input#image(type='text')
      label Link
      input#link(type='text')
      label Alt text
      input#alt(type='text')
      label Background Color
      input#bg(type='color' value='#242424')
      button#submit(type='submit') Add to banner
