extends ./common/layout.pug

block title
  title Trans Lifeline - 877-565-8860

block content
    section.bottom-shadow
      h1
        span.
          US:
          #[a(href='tel:+18775658860')='(877) 565-8860']
        span.fa-pull-right.
          Canada:
          #[a(href='tel:+18773306366')='(877) 330-6366']
      p.
        Trans Lifeline is a 501(c)3 non-profit dedicated to the well being of transgender people.
        We run a hotline staffed by transgender people for transgender people. Trans Lifeline
        volunteers are ready to respond to whatever support needs members of our community might have
    section.bottom-shadow.donate-ask
      h2.
        Trans Lifeline is possible due to generous contributions from our community. Please help us keep Trans Lifeline running!
      a(href='/donate') Give Today!
    section
      section.about
        h2.
          About the Lifeline.
        img(src='/images/lifeline.jpg' alt='About the lifeline')
        p.
          This line is primarily for transgender people experiencing a crisis. This includes people who may
          be struggling with their gender identity and are not sure that they are transgender. While our goal
          is to prevent self harm, we welcome the call of any transgender person in need. We will do our very best
          to connect them with services that can help them meet that need. If you are not sure whether you should
          call or not, then please call us.
      section.about
        h2.
          Our Operators
        img(src='/images/operators.jpg' alt='Our operators')
        p.
          Our hotline is staffed by the true experts on transgender experience, transgender people themselves.
          Our volunteers are all trans identified and educated in the range of difficulties transgender
          people experience. Our volunteers are dedicated to improving the lives of transgender people.
