extends ./common/layout.pug

block title
  title Trans Lifeline - 877-565-8860

block content
    h1
      span.
        US:
        #[a(href='tel:+18775658860')='(877) 565-8860']
      span.fa-pull-right.
        Canada:
        #[a(href='tel:+18773306366')='(877) 330-6366']
    p.
      Trans Lifeline is a 501(c)3 non-profit dedicated to the well being of transgender people.
      We run a hotline staffed by transgender people for transgender people. Trans Lifeline
      volunteers are ready to respond to whatever support needs members of our community might have.
    div.break
    h2.
      Trans Lifeline is possible due to generous contributions from our community. Please help us keep Trans Lifeline running!
    a(href='/donate') Give Today!
