extends ../common/layout.pug

block title
  title Host A Fundraiser - Trans Lifeline

block styles
  link(href='/styles/fundraiser.css', rel='stylesheet')

block content
  section
    h1='Become a Trans Lifeline Host'
    p.
      Now any group, organization, or individual can sign up to be a Trans Lifeline Host who helps raise awareness about trans suicide and gather resources to support trans people in crisis!
    ol
      li.invert Step 1: Register Let us know you are in #[a(href='https://docs.google.com/a/translifeline.org/forms/d/1-1v58wTb_yvYyV4P-Q-dEb-OMZAgh7lv6JSTwz_yKtA/viewform') (click here)].
      li Step 2: Get access to event ideas, tips, templates and more online.
      li.invert Step 3: Donate $5 towards the cost of a Host-A-Fundraiser Kit and to get cool promo materials.
      li Step 4: We’ll help promote your event online to our 27K supporters.
      li.invert Step 5: Host your event--party, enjoy an elegant dinner, or whatever you can imagine.
      li Step 6: Send us the money you’ve raised via check or online donation.
      li.invert Step 7: Accept our eternal gratitude along with swag and glory.
    h2='Q&A Before You Get Started'
    p.
      Q: Are there any qualifications to be a Trans Lifeline Host?
    p.
      A:  You don't need any special qualifications or fundraising experience to participate. No matter who you are--a student group, community organization, a business, or a group of allies, you can help. Please fill out this form to register for the program and let us know what you are thinking.
    p.
      Q: What kind of support do I get as a Trans Lifeline Host?
    p.
      A: After you register to be a Trans Lifeline Host, we will send you a digital copy of the Trans Lifeline Host-A-Fundraiser Manual that includes event ideas, how-to guides, sponsorship letter templates, and other resources. When you send us $5, we will send you a Host-A-Fundraiser Kit that includes promotional materials and bonus items. If you need help, we will do our best to answer questions as you develop your idea. We will also promote it on our page to 22K supporters.
    p.
      Q: Can Trans Lifeline send volunteers to help me with my event?
    p.
      A: We have a national network of volunteers. If you want, we will reach out to volunteers in your area to help get them involved. We do not have the capacity to manage volunteers for you, but we are happy to connect you with them directly.
    p.
      Q: What are the benefits to being a Trans Lifeline Host?
    p.
      A: We know you are doing this for the satisfaction of knowing that you are helping bring a life saving resource to trans people in crisis. We also know everyone likes swag and recognition, so after you send in the proceeds of your event, your group will get a shout-out on social media and the host committee will receive free Trans Lifeline t-shirts.
    p.
      Q: How do I get started?
    p.
      A: #[a(href='https://docs.google.com/a/translifeline.org/forms/d/1-1v58wTb_yvYyV4P-Q-dEb-OMZAgh7lv6JSTwz_yKtA/viewform') Click here to register!]
