extends ../common/layout.pug

block title
  title Ways to Help - Trans Lifeline

block styles
  link(href='/styles/help.css', rel='stylesheet')

block content
  section#help
    h1='3 Ways You Can Help Stop Trans Suicide'
    section
      div.img
        img(src='/images/phone.png' alt='phone')
      div.text
        h2
          a(href='http://apply.translifeline.org') 1. Volunteer - Become a Trans Lifeline operator
        p.
          If you are transgender and over 18, then you can get trained to answer trans people in crisis. We also love volunteers who can help with IT, legal advice, or fundraising. #[a(href='http://apply.translifeline.org') Sign up to be a volunteer now!]
    section
      div.text
        h2
          a(href='/donate') 2. Donate - Give what you can
        p.
          Help sustain Trans Lifeline by signing up to be a monthly member or support with a one-time gift. Donations to Trans Lifeline are tax-deductible. #[a(href='/donate') Click here to make a gift].
      div.img
        img(src='/images/wallet.png' alt='wallet')
    section
      div.img
        img(src='/images/community.png' alt='community')
      div.text
        h2
          a(href='/fundraiser') 3. Organize a fundraiser - Get your community involved
        p.
          Who said doing the right thing can't be fun? The more of us who are working together the better. #[a(href='/fundraiser') Register] to be a team captain and find resources such as event ideas, flyers and more.
