section.banner
  ul(data-num=banner.length)
    each bannerItem, i in banner
      li(id='banner'+i style='background-color:'+bannerItem.bg)
        a(href=bannerItem.link)
          img(src=bannerItem.img alt=bannerItem.alt)
