footer
  include ./social.pug
  p.fa-pull-right.
    Unless otherwise noted, all contents copyright © Trans Lifeline 2016#[br]
    Contact: (415) 483-5361#[br]
    Mailing address: TransLifeline, 2443 Fillmore St #380-9468, San Francisco, CA 94115#[br]
