section.sidebar
  div
    h2 Get involved!
    p.
      #[a(href='/help') Click here] to learn how you can help.
    h2 Keep in touch with us!
    p#required.
      Email is required for subscription.
    form#subscribe
      label Email
      input#email(type='text' placeholder='you@emailaddress.com' aria-label='Email' autocomplete='email' required).full-width
      label First Name
      input#first(type='text' placeholder='First' aria-label='First name' autocomplete='given-name').full-width
      label Last Name
      input#last(type='text' placeholder='Last' aria-label='Last name' autocomplete='family-name').full-width
      button#submit(type='submit') Subscribe
    p#validate.
      Almost finished... We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.

  div.social-widget.fb-page(data-href='https://www.facebook.com/translifeline/' data-tabs='timeline' data-height='300' data-width='500' data-small-header='true' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='false')
    blockquote(cite='https://www.facebook.com/translifeline/' class='fb-xfbml-parse-ignore')
      a(href='https://www.facebook.com/translifeline/') Trans Lifeline
  div.social-widget
    a.twitter-timeline(href='https://twitter.com/Translifeline' data-height='300') Tweets by @TransLifeline
    script(async src='//platform.twitter.com/widgets.js' charset='utf-8')
