extends ../common/layout.pug

block title
  title Contact Us - Trans Lifeline

block content
  h1='Contact Us'
  p.
    Volunteering - #[a(href='mailto:volunteer@translifeline.org')='volunteer@translifeline.org']
  p.
    Training - #[a(href='mailto:training@translifeline.org')='training@translifeline.org']
  p.
    Donations - #[a(href='mailto:donations@translifeline.org')='donations@translifeline.org']
  p.
    Speaking Engagements - #[a(href='mailto:speakers@translifeline.org')='speakers@translifeline.org']
  p.
    General Information - #[a(href='mailto:contact@translifeline.org')='contact@translifeline.org']
  p.
    Phone - #[a(href='tel:+14154835361')='(415) 483-5361']#[br]
    Note: The above phone is our office line. If you are in crisis, please call the hotline at  (877) 565-8860 in the US or (877) 330-6366 in Canada.
  p.
    Mailing Address - #[br]
    Trans Lifeline,#[br]
    2443 Fillmore St. #380-9468,#[br]
    San Francisco,#[br]
    CA 94115
