extends ../common/layout.pug

block title
  title FAQ - Trans Lifeline

block content
  h1='Frequently Asked Questions'
  h2.
    Why have a separate crisis line for transgender people?
  p.
    Transgender people are 22 times more likely to attempt suicide than the general population. However, many trans people who call suicide hotlines face ignorance and even discrimination. When a trans person is in crisis, invalidating their identity can reinforce the reasons they call or make the situation worse. Our participatory research shows a third of the trans community will not seek help in a moment of crisis due to fear of being discriminated against or having emergency services called on them involuntarily.
  h2.
    What distinguishes Trans Lifeline among other suicide hotlines?
  p.
    Trans Lifeline is a grassroots, peer-to-peer network for trans people of all ages. We are led by people who have experienced suicidality, and we are the only national hotline that focuses on transgender people in crisis. We prioritize trans people's lived experiences and harm reduction. See our #[a(href='https://docs.google.com/document/d/16uK3JluEm8Khli-CcwC7ONdqZaIkOKIRPnPpnx0yEWY/edit?usp=sharing') non-exclusionary policy].
  h2.
    Can I call the Trans Lifeline if I need help but am not suicidal?
  p.
    Yes. We are a warm line meaning that people can call us for a variety of reasons with a variety of needs. Many of our callers are seeking resources such as information about how to access transition-related health care or find support groups in their area. We welcome the call of any transgender person in need.  If you are not sure whether you should call or not, then please call us.
  h2.
    What can I expect from an operator?
  P.
    Trans Lifeline operators are all trans-identified volunteer who want to help you get through what you are going through. We train people to listen non-judgmentally and help you access resources. Depending on their comfort, some operators may share their own experiences with you. None of our operators will call emergency services on you without your consent and cooperation. If you would like to report any problems with a Trans Lifeline operator, please contact us.
  h2.
    How does someone become an operator?
  p.
    Operators must be over 18 years old, must identify as transgender and have a desire to help trans folks in crisis. Additionally, we require operators have a working phone, have access to the internet and attend a Trans Lifeline Operator Training online. If you are interested in becoming an operator, please apply online.
  h2.
    How do you train your operators?
  p.
    Our online training takes place is two parts. The first part is data-driven and trains our operators in the nature of crisis intervention work including theories of suicidality in general as well as research specific to the trans community. In the second part we train our operators to listen actively and non-judgmentally. We also train them in harm reduction approaches and accessing resources our callers may need. Following the training, new operators are placed in a team where an experienced operator acts as their team lead and mentors them through their journey as a Trans Lifeline operator.
  h2.
    Why don’t you call emergency services on callers who you believe to be suicidal?
  p.
    We will only call emergency services with the callers unprompted request and ongoing explicit consent.
  p.
    The trans community is at acute and ongoing risk for suicide. Our participatory research shows that about a third of our community will not call traditional hotlines or seek help when in crisis largely because of fear of discrimination at the hands of emergency responders. Our research also showed that our community was generally distrustful of various emergency responders. By only calling emergency services with the caller's consent, we can make as many trans people as possible feel comfortable seeking help when in crisis and respect our caller's volition.
  h2.
    Who can I call if I can’t get through?
  p.
    Due to lack of resources, we cannot keep up with our call volume. We are working very hard to grow so that this doesn’t happen anymore. In the meantime, if you need help and can’t get through to us, then reach out to the National Suicide Prevention Lifeline at 1-800-273-TALK (8255).
  p.
    While we cannot guarantee trans competency on the National Lifeline, Trans Lifeline has been actively involved in advocacy, education and improving trans competency at the National Lifeline's crisis centers.
  h2.
    How is Trans Lifeline Funded?
  p.
    97% of our budget comes from small-scale donations from everyday people like you. We are by and for the trans community, and majority of our support comes from that community as well. We are actively seeking more funding from allies, large donors, foundations, government agencies, and corporate sponsors. If you are interested in helping us raise money or have a lead on a funding opportunity, please contact us.
  h2.
    How can I help?
  p.
    Trans Lifeline would not be possible without hundreds of volunteers, donors, and supporters. Visit #[a(href='https://www.translifeline.org/help') www.translifeline.org/help] for more details.
