extends ../common/layout.pug

block title
  title Mission - Trans Lifeline

block content
  h1='Mission'
  p.
    Trans Lifeline works to end transgender suicide and improve overall mental health of transgender people through education, advocacy, and direct service. We empower trans people to help one another, and to shape our collective efforts by drawing upon our wealth of individual experiences.
  img.center(src='/images/sp_look_like.png' alt='What Does Trans Suicide Prevention Look Like? Listening, Support, Education, Friendship, Advocacy,  Love')
