@import "_variables.scss";

.banner {
  width: 100%;
  background-color: #242021;

  a {
    display: block;
    width: 100%;
    height: $banner-height;
  }

  img {
    max-height: $banner-height;
  }
}
