@import "_variables.scss";

footer {
  background-color: $primary-color;
  margin-top: $vertical-spacer;
  height: $footer-height;
  padding-top: $vertical-spacer;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  @if (lightness($primary-color) > 50) {
    color: black; // Lighter backgorund, return dark color
  } @else {
    color: white; // Darker background, return light color
  }

  p {
    margin-right: $horizontal-spacer;
    display: inline;
    text-align: right;
  }
}
