@import "_variables.scss";

footer {
  background-color: $primary-color;
  margin-top: $vertical-spacer;
  min-height: $footer-height;
  padding-top: $vertical-spacer;
  color: $background-color;

  p {
    margin-right: $horizontal-spacer;
    display: inline;
    text-align: right;
    color: $background-color;
  }

  @include susy-breakpoint($wide, $wideLayout) {
    @include span(12);
  }

  @include susy-breakpoint($narrow, $narrowLayout) {
    @include span(1);
  }
}
