@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/node-normalize-scss/_normalize.scss";

@import "_variables.scss";
@import "header.scss";
@import "sidebar.scss";
@import "banner.scss";
@import "footer.scss";
@import "social.scss";

html,body {
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, a {
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: .1em;
}

a:hover {
  color: $darker-primary-color;
}

#container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

#content {
  padding-bottom: 2*$vertical-spacer;
}

.center {
  margin: 0 auto;
  display: block;
}

.bottom-shadow {
  padding-bottom: $vertical-spacer;
  box-shadow: 0 2px 2px -2px $secondary-color;
}

@include susy-breakpoint($wide, $wideLayout) {
  #content.has-sidebar {
    @include span(8);
  }

  #content {
    margin: 0 $horizontal-spacer;
  }

  .sidebar {
    margin: 0 $horizontal-spacer;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.1em;
  }

  #content {
    font-size: 1.2em;
    padding-bottom: 2*$vertical-spacer;
  }
}

@include susy-breakpoint($narrow, $narrowLayout) {
  #content.has-sidebar {
    @include span(1);
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  #content {
    font-size: 1em;
    padding-bottom: 2*$vertical-spacer;
  }
}
