@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/node-normalize-scss/_normalize.scss";

@import "_variables.scss";
@import "_imports.scss";

html,body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, a {
  color: $primary-color;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

a:hover {
  color: $darker-primary-color;
}

#container {
  min-height: 100%;
  position: relative;
}

#content {
  font-size: 1.5em;
  margin: 0 $horizontal-spacer;
  padding-bottom: $footer-height + 2*$vertical-spacer;
}
