@import "_variables.scss";

#help {
  img {
    width: 162px;
  }

  section {
    margin-bottom: $vertical-spacer;
  }

  @include susy-breakpoint($wide, $wideLayout) {
    section {
      @include span(12);
    }
  }

  @include susy-breakpoint($narrow, $narrowLayout) {
    section, .img, .text {
      @include span(1);
      padding: 0;
    }
  }

}
