@import "_variables.scss";

h1 a {
  text-decoration: none;
}

section {
  text-align: left;
}

.donate-ask {
  a {
    display: block;
    color: white;
    background-color: $primary-color;
    padding: 20px 40px;
    margin: $vertical-spacer auto;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
  }

  a:hover {
    color: white;
    background-color: $darker-primary-color;
  }
}

@include susy-breakpoint($wide, $wideLayout) {
  .donate-ask a {
    width: 33%;
  }
}

@include susy-breakpoint($narrow, $narrowLayout) {
  .about {
    img {
      @include span(1);
      padding: 0;
      margin-bottom: $vertical-spacer;
    }
  }
}
